.ReactTags__tags {
    position: relative;
}

.ReactTags__editTagInput {
    display: inline-flex;
}

.ReactTags__selected {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    .ReactTags__remove {
        color: #b01818;
        cursor: pointer;
        display: flex;
    }
}

.ReactTags__suggestions {
    position: absolute;

    ul {
        list-style-type: none;
        box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
        background: white;
        width: 30vw;
        padding: 5px 0;
        color: black;
    }

    li {
        padding: 5px 10px;
        margin: 0;
        text-align: left;

        mark {
            text-decoration: underline;
            background: none;
        }

        &.ReactTags__activeSuggestion {
            background: #4dabf7;
            color: #fff;
            cursor: pointer;

            span mark {
                color: #fff;
            }
        }
    }
}

.ReactTags__remove {
    border: none;
    cursor: pointer;
    background: none;
    color: #fff;
    padding: 5px;
}

.ReactTags__error {
    color: #e03131;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        padding: 0 5px;
    }
}
